<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: 14px;
    }
    .wrap{
        padding-bottom: 20px;
    }
    .mescroll{
        position: fixed;
        top: 42px;
        bottom: 0;
        height: auto;
    }
    .members-search{
        padding: 15px;
    }
    .members-groups{
        padding: 0 10px;
    }
    .members-groups .item{
        border-radius: 5px;
        padding: 10px;
        position: relative;
    }
    .members-groups .item .groupname{
        color: #0071bd;
        letter-spacing: 1px;
    }
    .members-groups .item div span{
        color: #3b3b3b;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 24px;
        padding:5px 10px;
        display: inline-block;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <a class="header-right" href="/membersEdit">编辑</a>
    <div class="wrap mescroll" id="mescroll">
        <div class="members-search">
            <%-include ../base/search-box.ejs%>
        </div>
        <div class="members-groups">
            <%for(var i=0;i<group_list.length;i++){
                var item=group_list[i]
            %>
            <div class="item">
                <p class="groupname"><%=item.groupname%>:</p>
                <div style="padding-left: 20px">
                    <%for(var j=0;j<item.weiyuan_list.length;j++){ var index=item.weiyuan_list[j]%>
                    <span onclick="window.location.href='/membersDetail?id=<%=index.user_id %>'"><%=index.user_name%></span>
                    <%}%>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        if(role==3 || role==4 || role==5){
            $(".header-right").css("display","none")
        }
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                use: false
            }
        });

        /*下拉刷新的回调 */
        function downCallback() {
            window.location.reload()
        }
    })
</script>
</html>
