<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: var(--size14);
    }
    .mescroll{
        position: fixed;
        top: 42px;
        bottom: 0;
        height: auto;
    }
    .weiyuan_list{
        padding: 5px;
    }
    .weiyuan_list .name{
        padding-left: 80px;
        font-size: var(--size14);
        line-height: 28px;
        color: #3b3b3b;
    }
    .list-title{
        display: flex;
        align-items: center;
        line-height: 28px;
    }
    .list-title .left{
        padding: 0 20px;
        color: #3b3b3b;
        font-size: var(--size14);
    }
    .list-title .center{
        flex: 1;
        height: 1px;
        border-top: 1px dashed #585757;
    }
    .list-title .right{
        padding: 0 10px;
        font-size: var(--size12);
        color: #585757;
    }
    .list-title .delete{
        color: #3b3b3b;
        font-size: 18px;
        text-align: center;
        padding: 0 15px 0 0;
    }
    table{
        border-collapse:collapse;
        border: none;
        width: 80%;
        margin-left: 10%;
        margin-top: 10px;
    }
    table .td{
        border: 1px solid #808080;
        padding: 5px 0;
        font-size: var(--size14);
        color: #3b3b3b;
        position: relative;
        text-align: center;
    }
    table .td .delete{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        color: #3b3b3b;
        padding:0 3px;
    }
    .mui-popover.mui-popover-action.mui-active{
        background: #fff;
    }
    .mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell{
        background: #e1edfd;
    }
    .mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell a{
        color: #282828;
        font-size: 16px;
        font-family: "Microsoft YaHei";
    }
    .ripple {
        position: relative;
        overflow: hidden;
        font-size: var(--size14);
    }
    .ripple:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #ddd;
        opacity: 0;
        transition:opacity .5s;
    }
    .ripple:active:after {
        opacity: 0.5;
    }
    .delete:active,table .td:active,table .td .delete:active,.weiyuan_list .name:active,.list-title .right:active{
        color:#0071bd;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <a class="header-right" href="#picture">添加</a>
    <div class="wrap mescroll" id="mescroll">
        <%if(group_list!=null&&group_list.length>0){%>
        <div class="weiyuan_list">
            <%for(var i=0;i<group_list.length;i++){var item = group_list[i];%>
                <div class="list-title">
                    <span class="left"><%=item.groupname%></span>
                    <span class="center"></span>
                    <a class="right" href="/editGroup?id=<%=item.groupid%>">编辑</a>
                    <span class="delete delete-group" id="<%=item.groupid%>">×</span>
                </div>
                <%if(item.weiyuan_list.length==1){%>
                    <%for(var j=0;j<item.weiyuan_list.length;j++){
                        var weiyuan = item.weiyuan_list[j];%>
                        <div>
                            <span class="name" onclick="window.location.href='/editMember?id=<%=weiyuan.user_id%>'"><%=weiyuan.user_name%></span>
                            <span class="delete delete-member" id="<%=weiyuan.user_id%>">×</span>
                        </div>
                    <%}%>
                <%}else if(item.weiyuan_list.length>1){%>
                    <table width="100%">
                        <% var trLength=item.weiyuan_list.length%3==0?item.weiyuan_list.length/3:item.weiyuan_list.length/3+1;
                            for(var k=0;k<trLength;k++){
                                var tdLength=(3*k+3)<=item.weiyuan_list.length?(3*k+3):item.weiyuan_list.length
                        %>
                        <tr>
                            <%for(var j=3*k;j<tdLength;j++){
                                var weiyuan = item.weiyuan_list[j];
                            %>
                            <td class="td" width="33.3333%">
                                <span class="ripple" onclick="window.location.href='/editMember?id=<%=weiyuan.user_id%>'"><%=weiyuan.user_name%></span>
                                <span class="delete delete-member" id="<%=weiyuan.user_id%>">×</span>
                            </td>
                            <%}%>
                        </tr>
                        <%}%>
                    </table>
                <%}%>
            <%}%>
        </div>
        <%}%>
    </div>
    <div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="/editGroup?id=00">添加组</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="/addMember">添加成员</a>
            </li>
        </ul>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="#picture">取消</a>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    $(function () {
        var _offset = sessionStorage.getItem("membersEditTop");
        $(".wrap").scrollTop(_offset);  //进页面时跳到记录的位置
        $(".wrap").scroll(function() {
            sessionStorage.setItem("membersEditTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                use: false
            }
        });

        /*下拉刷新的回调 */
        function downCallback() {
            window.location.reload()
        }
    })
    $(".delete-member").click(function(event){
        event.stopPropagation()
        event.preventDefault()
        var id=this.id;
        mui.confirm('确认删除？', function(e) {
            if (e.index == 1) {
                var params = {
                    user_id: id
                }
                params = JSON.stringify(params);
                $.ajax({
                    url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_04.ashx',
                    type: "POST",
                    dataType: 'json',
                    data: params,
                    success: function (data) {
                        if(data.ecode==1000){
                            mui.toast("删除成功");
                            setTimeout(function () {
                                location.reload();
                            },1000)
                        }else{
                            mui.toast("删除失败！");
                        }
                    }
                });
            } else {
                return;
            }
        })
    });
    $(".delete-group").click(function(){
        var id=this.id;
        mui.confirm('确认删除？', function(e) {
            if (e.index == 1) {
                var params = {
                    groupid: id
                }
                params = JSON.stringify(params);
                $.ajax({
                    url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_11.ashx',
                    type: "POST",
                    dataType: 'json',
                    data: params,
                    success: function (data) {
                        if(data.ecode==1000){
                            mui.toast("删除成功");
                            setTimeout(function () {
                                location.reload();
                            },1000)
                        }else{
                            mui.toast("删除失败！");
                        }
                    }
                });
            } else {
                return;
            }
        })
    });
</script>

</html>
