<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: var(--size14);
        display: none;
    }
    .wrap{
        padding-bottom: 20px;
    }
    .mescroll{
        position: fixed;
        top: 42px;
        bottom: 0;
        height: auto;
    }
    .members-search{
        padding: 15px;
    }
    .members-groups{
        padding: 0 10px;
    }
    .members-groups .item{
        border-radius: 5px;
        padding: 10px;
        position: relative;
    }
    .members-groups .item .groupname{
        color: #0071bd;
        letter-spacing: 1px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
    }
    .members-groups .item .name-list{
        padding-left: 1px;
    }
    .members-groups .item .name-list .name{
        color: #3b3b3b;
        font-size: var(--size14);
        letter-spacing: 1px;
        line-height: 24px;
        padding:5px 10px 5px 0;
        display: inline-block;
        min-width: 74px;
    }
    .ripple {
        position: relative;
        overflow: hidden;
        font-size: var(--size14);
    }
    .ripple:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #ddd;
        opacity: 0;
        transition:opacity .5s;
    }
    .ripple:active:after {
        opacity: 1;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <span class="header-right">编辑</span>
    <div class="wrap mescroll" id="mescroll">
        <div class="members-search">
            <%-include ../base/search-box.ejs%>
        </div>
        <div class="members-groups">
            <%for(var i=0;i<group_list.length;i++){
                var item=group_list[i]
            %>
            <div class="item">
                <p class="groupname"><%=item.groupname%></p>
                <div class="name-list">
                    <%for(var j=0;j<item.weiyuan_list.length;j++){ var index=item.weiyuan_list[j]%>
                    <div class="name" data-id="<%=index.user_id %>">
                        <span class="ripple" ><%=index.user_name%></span>
                    </div>
                    <%}%>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
</body>
<script>
    $(document).on('click','.header-right',function () {
        sessionStorage.setItem("membersMdTop",0)
        sessionStorage.setItem("membersEditTop",0)
        location.href='/membersEdit'
    })
    $(document).on('click','.name',function () {
        $(this).css("color","#0071bd")
        var id=$(this).attr("data-id")
        setTimeout(function () {
            location.href='/membersDetail?id='+id
        },100)
    })
    $(function () {
        if(role_type==1 || role_type==2){
            $(".header-right").css("display","block")
        }else{
            $(".header-right").css("display","none")
        }
        var _offset = sessionStorage.getItem("membersMdTop");
        $(".wrap").scrollTop(_offset);  //进页面时跳到记录的位置
        $(".wrap").scroll(function() {
            sessionStorage.setItem("membersMdTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                use: false
            }
        });

        /*下拉刷新的回调 */
        function downCallback() {
            window.location.reload()
        }
    })
</script>
</html>
