<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 82px 0 0 0;
        -webkit-animation-name: slideOut;
        animation-name: slideOut;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: var(--size14);
    }
    .mescroll{
        position: fixed;
        top: 82px;
        bottom: 0;
        height: auto;
    }
    .states-content{
        position: fixed;
        top:42px;
        width: 100%;
        height: 40px;
        z-index: 1000000;
    }
    .list-tab{
        display: flex;
        border:1px solid #0071bd;
        height: 40px;
        padding: 5px 0;
    }
    .list-tab .tab-item{
        flex: 1;
        height: 100%;
        float: left;
        line-height: 30px;
        text-align: center;
        color: #585757;
        font-size: var(--size14);
        border-right: 1px solid #0071bd;
        cursor: pointer;
    }
    .list-tab .tab-item:last-child{
        border-right: 0;
    }
    .list-tab .tab-item.active{
        color: #0071bd;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <span class="header-right">信息提交</span>
    <div class="wrap">
        <div class="states-content">
            <div class="list-tab">
                <span class="tab-item" data-url="/socialCheck1">申请审核</span>
                <span class="tab-item" data-url="/socialCheck2">通过</span>
            </div>
        </div>
        <div class="mescroll listWrap" id="mescroll">
            <div class="list-content list-normal" id="list-content">
                <%for(var i=0 ;i<sqmy_list.length;i++){%>
                <div class="item" id="<%=sqmy_list[i].sqmy_id%>">
                    <span class="circle"></span>
                    <p class="anyou"><%=sqmy_list[i].ideatitle%></p>
                    <p class="bottom">
                        <span class="left"><%=sqmy_list[i].statecode%></span>
                        <span class="left"><%=sqmy_list[i].createtime.split(" ")[0]%></span>
                    </p>
                </div>
                <%}%>
                <%if(sqmy_list.length<=0){%>
                <div class="empty">
                    <img src="/images/search-empty.png">
                    <p>暂无内容</p>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        var user_id=sessionStorage.getItem("user_id")
        var pageType="<%=pageType%>"
        var sqmy_kind=parseInt(pageType)+2
        var check=0;
        if(pageType==0){
            check=1
        }
        $(".tab-item").eq(pageType).addClass("active")
        $(document).on('click','.tab-item',function () {
            var index=$(this).index()
            sessionStorage.setItem("socialCheckList", "");
            sessionStorage.setItem("socialCheckTop", 0);
            var url=$(this).attr("data-url");
            location.replace(url+"?pageType="+index)
        })
        $(document).on('click','.item',function () {
            var id=$(this).attr("id")
            location.href='/submitDetail2?id='+id+'&sqmy_kind='+sqmy_kind+"&check="+check
        })
        $(document).on('click','.header-right',function () {
            sessionStorage.setItem("socialManageList", "");
            sessionStorage.setItem("socialManageTop", 0);
            location.href="/socialManage1?pageType=0"
        })
        var loadContent=sessionStorage.getItem("socialCheckList");
        var socialCheckList=sessionStorage.getItem("socialCheckList")
        $(".list-content").append(socialCheckList)
        var socialCheckTop = sessionStorage.getItem("socialCheckTop");
        $(".listWrap").scrollTop(socialCheckTop);
        $(".listWrap").scroll(function() {
            sessionStorage.setItem("socialCheckTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                auto: false, //是否在初始化时以上拉加载的方式自动加载第一页数据; 默认false
                callback: upCallback //上拉回调,此处可简写; 相当于 callback: function (page) { upCallback(page); }
            }
        });

        /*下拉刷新的回调 */
        function downCallback(){
            sessionStorage.setItem("socialCheckList", "");
            sessionStorage.setItem("socialCheckTop", 0);
            window.location.reload()
        }
        function upCallback(){
            var kind=parseInt(pageType)+2
            var params = {
                user_id: user_id,
                sqmy_list_kind: kind,
                startid: $(".item:last").attr("id"),
                num: 10,
                start: 0
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%= reqHost %>:<%= reqPort %>/ZxApi/m2_23.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    if (data.ecode == 1000) {
                        var list = data.sqmy_list
                        if (data.num > 0) {
                            mescroll.endSuccess(data.length);
                            $.each(list, function (i) {
                                var item = '<div class="item" id="' + list[i].sqmy_id + '">' +
                                    '<span class="circle"></span>' +
                                    '<p class="anyou">'+list[i].ideatitle+'</p>' +
                                    '<p class="bottom">' +
                                    '<span class="left">'+list[i].statecode+'</span>' +
                                    '<span class="left">'+ list[i].createtime.split(" ")[0] +'</span>' +
                                    '</p>' +
                                    '</div>'
                                $(".list-content").append(item);
                                loadContent += item;
                            })
                            sessionStorage.setItem("socialCheckList", loadContent);
                        } else {
                            mescroll.endUpScroll(true)
                        }
                    } else {
                        mui.toast("系统错误")
                        mescroll.endErr()
                    }
                }
            });
        }
    })
</script>
</html>
