<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 82px 0 0 0;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .mescroll{
        position: fixed;
        top: 82px;
        bottom: 50px;
        height: auto;
    }
    .states-content{
        position: fixed;
        top:42px;
        width: 100%;
        height: 40px;
        z-index: 1000000;
    }
    .list-tab{
        display: flex;
        border:1px solid #0071bd;
        height: 40px;
        padding: 5px 0;
    }
    .list-tab .tab-item{
        flex: 1;
        height: 100%;
        float: left;
        line-height: 30px;
        text-align: center;
        color: #585757;
        font-size: 14px;
        border-right: 1px solid #0071bd;
        cursor: pointer;
    }
    .list-tab .tab-item:last-child{
        border-right: 0;
    }
    .list-tab .tab-item.active{
        color: #0071bd;
    }
    .bottom-content{
        position: fixed;
        height: 50px;
        width: 100%;
        bottom: 0;
        right: 0;
        background: #e1edfd;
        border: 1px solid #00a0e9;
        display: none;
    }
    .bottom-content .content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <span class="header-right">信息审核</span>
    <div class="wrap">
        <div class="states-content">
            <div class="list-tab">
                <span class="tab-item" data-url="/socialManage1">草稿</span>
                <span class="tab-item" data-url="/socialManage2">申请审核</span>
                <span class="tab-item" data-url="/socialManage3">通过</span>
                <span class="tab-item" data-url="/socialManage4">退回</span>
            </div>
        </div>
        <div class="mescroll listWrap" id="mescroll">
            <div class="list-content list-normal" id="list-content">
                <%for(var i=0 ;i<sqmy_list.length;i++){%>
                <div class="item" id="<%=sqmy_list[i].sqmy_id%>">
                    <span class="circle"></span>
                    <p class="anyou"><%=sqmy_list[i].ideatitle%></p>
                    <p class="bottom">
                        <span class="left"><%=sqmy_list[i].statecode%></span>
                        <span class="left"><%=sqmy_list[i].createtime.split(" ")[0]%></span>
                    </p>
                </div>
                <%}%>
            </div>
        </div>
        <div class="bottom-content" id="bottom-content">
            <div class="content" id="submit" onclick="location.href='/submitDetail'">
                提交信息
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        var user_id=sessionStorage.getItem("user_id")
        if(role==1 || role==2){
            $(".header-right").css("display","block")
        }else{
            $(".header-right").css("display","none")
        }
        if (role == 4 || role == 5 || user_id=='' || user_id<=0 || user_id==null) {
            $("#bottom-content").css("display", "none")
            $(".mescroll").css("bottom",0)
        }else{
            $("#bottom-content").css("display", "block")
        }
        var pageType="<%=pageType%>"
        var sqmy_kind=parseInt(pageType)+1
        var detail_type=2,back=0;
        if(pageType==0){
            detail_type=1
        }
        if(pageType==3){
            back=1
        }
        $(".tab-item").eq(pageType).addClass("active")
        $(document).on('click','.tab-item',function () {
            var index=$(this).index()
            sessionStorage.setItem("socialManagerList", "");
            sessionStorage.setItem("socialManagerTop", 0);
            var url=$(this).attr("data-url");
            location.replace(url+"?pageType="+index)
        })
        $(document).on('click','.item',function () {
            var id=$(this).attr("id")
            location.href='/submitDetail'+detail_type+'?id='+id+'&sqmy_kind='+sqmy_kind+"&back="+back
        })
        $(document).on('click','.header-right',function () {
            sessionStorage.setItem("socialCheckList", "");
            sessionStorage.setItem("socialCheckTop", 0);
            location.href="/socialCheck1?pageType=0"
        })
        var loadContent=sessionStorage.getItem("socialManagerList");
        var socialManagerList=sessionStorage.getItem("socialManagerList")
        $(".list-content").append(socialManagerList)
        var socialManagerTop = sessionStorage.getItem("socialManagerTop");
        $(".listWrap").scrollTop(socialManagerTop);
        $(".listWrap").scroll(function() {
            sessionStorage.setItem("socialManagerTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                auto: false, //是否在初始化时以上拉加载的方式自动加载第一页数据; 默认false
                callback: upCallback //上拉回调,此处可简写; 相当于 callback: function (page) { upCallback(page); }
            }
        });

        /*下拉刷新的回调 */
        function downCallback(){
            sessionStorage.setItem("socialManagerList", "");
            sessionStorage.setItem("socialManagerTop", 0);
            window.location.reload()
        }
        function upCallback(){
            var kind;
            if(pageType==3){
                kind=6
            }else{
                kind=parseInt(pageType)+1
            }
            var params = {
                sqmy_list_kind: kind,
                startid: $(".item:last").attr("id"),
                num: 10,
                start: 0
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%= reqHost %>:<%= reqPort %>/ZxApi/m2_23.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    if (data.ecode == 1000) {
                        var list = data.sqmy_list
                        if (data.num > 0) {
                            mescroll.endSuccess(data.length);
                            $.each(list, function (i) {
                                var item = '<div class="item" id="' + list[i].sqmy_id + '">' +
                                    '<span class="circle"></span>' +
                                    '<p class="anyou">'+list[i].ideatitle+'</p>' +
                                    '<p class="bottom">' +
                                    '<span class="left">'+list[i].statecode+'</span>' +
                                    '<span class="left">'+ list[i].createtime.split(" ")[0] +'</span>' +
                                    '</p>' +
                                    '</div>'
                                $(".list-content").append(item);
                                loadContent += item;
                            })
                            sessionStorage.setItem("socialManagerList", loadContent);
                        } else {
                            mescroll.endUpScroll(true)
                        }
                    } else {
                        mui.toast("系统错误")
                        mescroll.endErr()
                    }
                }
            });
        }
    })
</script>
</html>
