<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="proposal-content">
            <div class="row">
                <span class="left">姓名</span>
                <span class="right"><%=sqmy_info.username%></span>
            </div>
            <div class="row">
                <span class="left">单位</span>
                <span class="right"><%=sqmy_info.userfax%></span>
            </div>
            <div class="row">
                <span class="left">组别</span>
                <span class="right"><%=sqmy_info.usergroupname%></span>
            </div>
        </div>
        <div class="submit-content">
            <div class="row">
                <p class="desc">事由</p>
                <p><%-sqmy_info.ideatitle%></p>
            </div>
            <div class="row">
                <p class="desc">内容简介</p>
                <p><%-sqmy_info.ideacontent%></p>
            </div>
            <%if(check==1){%>
            <div class="row back">
                <textarea placeholder="退回时请填写理由" rows="5" maxlength="250" id="backreason"></textarea>
            </div>
            <%}%>
        </div>
    </div>
    <%if(check==1){%>
    <div class="bottom">
        <div class="content" id="submit">
            <div class="left">退回</div>
            <div class="right">通过立案</div>
        </div>
    </div>
    <%}%>
</div>
</body>
<style>
    .container{
        padding: 42px 0 10px 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .proposal-content{
        border-bottom: 1px solid #adaaaa;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: 14px;
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #adaaaa;
        border-bottom: 0;
    }
    .proposal-content .row .left{
        width: 110px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        border-left: 1px solid #adaaaa;
        padding: 5px;
        min-height: 30px;
    }
    .submit-content{
        margin-top: 10px;
    }
    .submit-content .row{
        margin-bottom: 10px;
        border-bottom: 1px solid #adaaaa;
        padding: 10px 0;
    }
    .submit-content .row:last-child{
        border-bottom: 0;
    }
    .submit-content .row .desc{
        color: #0071bd;
        letter-spacing: 2px;
    }
    .submit-content .row textarea{
        border: 1px solid #00a0e9;
        padding: 5px 10px;
        font-size: 14px;
    }
    .back{
        padding-bottom: 40px !important;
    }
    .bottom{
        position: fixed;
        height: 50px;
        width: 100%;
        bottom: 0;
        right: 0;
        background: #e1edfd;
        border: 1px solid #00a0e9;
    }
    .bottom .content{
        display: flex;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    .bottom .content .left{
        width: 100px;
        border-right: 1px solid #00a0e9;
    }
    .bottom .content .right{
        flex: 1;
    }
</style>
<script>
    var sqmy_id,audit_jieguo,tuihui;
    sqmy_id="<%=sqmy_info.sqmy_id%>"
    $("#submit div").each(function () {
        $(this).click(function () {
            if($(this).text()=='退回'){
                audit_jieguo=0;
                tuihui=$("#backreason").val();
                if(tuihui == null||tuihui == ""){
                    mui.toast("请填写退回理由")
                    return;
                }
            }else if($(this).text()=='通过立案'){
                audit_jieguo=1;
                tuihui="";
            }
            var params = {
                audit_jieguo: audit_jieguo,
                sqmy_id: sqmy_id,
                tuihui: tuihui
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_25.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    if(data.ecode==1000){
                        mui.toast("操作成功！");
                        setTimeout(function () {
                            history.go(-1)
                        },1000);
                    }else{
                        mui.toast("操作失败！");
                    }
                }
            });
        })
    })
</script>
</html>
