<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 10px 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .proposal-content{
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: var(--size14);
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    .proposal-content .row .left{
        width: 95px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        border-left: 1px solid #ddd;
        padding: 5px;
        min-height: 30px;
    }
    .submit-content{
        margin-top: 10px;
    }
    .submit-content .row{
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }
    .submit-content .row:last-child{
        border-bottom: 0;
    }
    .submit-content .row .desc{
        color: #0071bd;
        letter-spacing: 2px;
    }
    .submit-content .row textarea{
        border: 1px solid #00a0e9;
        padding: 5px 10px;
        font-size: var(--size14);
    }
    .back{
        padding-bottom: 0px !important;
    }
    .bottom{
        text-align: center;
        padding: 10px 0;
    }
    .bottom .content  button{
        width: 48%;
        display: inline-block;
        padding: 8px;
        letter-spacing: 2px;
    }
    .mui-btn-gray{
        color: #fff;
        border: 1px solid #888;
        background-color: #888;
        margin-right: 2%;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="proposal-content">
            <div class="row">
                <span class="left">姓名</span>
                <span class="right"><%=sqmy_info.username%></span>
            </div>
            <div class="row">
                <span class="left">单位</span>
                <span class="right"><%=sqmy_info.userfax%></span>
            </div>
            <div class="row">
                <span class="left">组别</span>
                <span class="right"><%=sqmy_info.usergroupname%></span>
            </div>
        </div>
        <div class="submit-content">
            <div class="row">
                <p class="desc">事由</p>
                <p><%-sqmy_info.ideatitle%></p>
            </div>
            <div class="row">
                <p class="desc">内容简介</p>
                <p><%-sqmy_info.ideacontent%></p>
            </div>
            <%if(back==1){%>
            <div class="row">
                <p class="desc">退回原因</p>
                <p><%-sqmy_info.backreason%></p>
            </div>
            <%}%>
            <%if(check==1){%>
            <div class="row back">
                <textarea placeholder="退回时请填写理由" rows="5" maxlength="250" id="backreason"></textarea>
            </div>
            <%}%>
        </div>
        <%if(check==1){%>
        <div class="bottom">
            <div class="content" id="submit">
                <button type="button" class="mui-btn mui-btn-gray" data-loading-icon="" style="letter-spacing: 10px">退回</button>
                <button type="button" class="mui-btn mui-btn-primary" data-loading-icon="">通过立案</button>
            </div>
        </div>
        <%}%>
    </div>
</div>
</body>
<script>
    var sqmy_id,audit_jieguo,tuihui;
    sqmy_id="<%=sqmy_info.sqmy_id%>"
    $("#submit button").each(function () {
        $(this).click(function () {
            var _self=this
            var tj_text=$(this).text()
            mui(this).button('loading');
            $(this).siblings().attr("disabled",true);
            if(tj_text=='退回'){
                audit_jieguo=0;
                tuihui=$.trim($("#backreason").val());
                if(tuihui == null||tuihui == ""){
                    mui.toast("请填写退回理由")
                    mui(this).button('reset');
                    $(this).siblings().attr("disabled",false);
                    return;
                }
            }else if(tj_text=='通过立案'){
                audit_jieguo=1;
                tuihui="";
            }
            var params = {
                audit_jieguo: audit_jieguo,
                sqmy_id: sqmy_id,
                tuihui: tuihui
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_25.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                    mui(_self).button('reset');
                    $(_self).siblings().attr("disabled",false);
                },
                success: function (data) {
                    if(data.ecode==1000){
                        mui.toast("操作成功！");
                        mui(_self).button('reset');
                        $(_self).attr('disabled',true);
                        setTimeout(function () {
                            history.go(-1)
                        },1000);
                    }else{
                        mui.toast("操作失败！");
                        mui(_self).button('reset');
                        $(_self).siblings().attr("disabled",false);
                    }
                }
            });
        })
    })
</script>
</html>
