<style>
    .footer-nav{
        position: fixed;
        height: 54px;
        bottom: -1px;
        width: 100%;
        background: #f2f2f2;
        border-top: 1px solid #ddd;
    }
    .footer-nav .nav-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        height: 54px;
    }
    .footer-nav .nav-list .item{
        text-align: center;
    }
    .footer-nav .nav-list .item.active a p{
        color: #006fb8;
    }
    .footer-nav .nav-list .item div{
        text-decoration: none;
        color: inherit;
        display: inline-block;
        height: 100%;
    }
    .footer-nav .nav-list .item div img{
        width: 20px;
    }
    .footer-nav .nav-list .item div p{
        line-height: 16px;
        font-size: 12px;
        color: #7d7d7d;
    }
</style>
<div class="footer-nav">
    <ul class="nav-list">
        <%for(var i=0;i<navList.length;i++){
        if(type == i+1){%>
        <li class="item active" data-url="<%= navList[i].item_rul%>">
            <%}else{%>
        <li class="item" data-url="<%= navList[i].item_rul%>">
            <%}%>
            <div>
                <%if(type == i+1){%>
                <img src="/images/icons/<%= navList[i].item_pic%>.png">
                <%}else{%>
                <img src="/images/icons/<%= navList[i].item_pic%>-a.png">
                <%}%>
                <p><%= navList[i].item_text%></p>
            </div>
        </li>
        <%}%>
    </ul>
</div>
<script>
    $(document).on('click','.nav-list .item',function () {
        var i = $(this).index()
        var user_id=sessionStorage.getItem("user_id")
        var manager_id=sessionStorage.getItem("manager_id")
        sessionStorage.setItem("newsList", "");
        sessionStorage.setItem("newsTop", 0);
        var url=$(this).attr("data-url")
        if(i==2){
            location.href=url+'?id='+user_id+"&manager_id="+manager_id+"&role_type="+role
        }else{
            location.href=url
        }
    })
</script>
