<style>
    .footer-nav{
        position: fixed;
        height: 54px;
        bottom: -1px;
        width: 100%;
        background: #f2f2f2;
        border-top: 1px solid #ddd;
    }
    .footer-nav .nav-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        height: 54px;
    }
    .footer-nav .nav-list .item{
        text-align: center;
        position: relative;
        padding: 5px 0;
    }
    .footer-nav .nav-list .item  img{
        width: 20px;
    }
    .footer-nav .nav-list .item  p{
        line-height: 14px;
        font-size: var(--size12);
        color: #7d7d7d;
    }
    .footer-nav .nav-list .item.active  p{
        color: #006fb8;
    }
    .mui-badge-red{
        position: absolute;
        top:0;
        left: 30px;
        font-size: 8px;
        padding:2px 4px
    }
</style>
<div class="footer-nav">
    <ul class="nav-list">
        <%for(var i=0;i<navList.length;i++){
        if(type == i+1){%>
        <li class="item active" data-url="<%= navList[i].item_rul%>">
            <%}else{%>
        <li class="item" data-url="<%= navList[i].item_rul%>">
            <%}%>
            <%if(type == i+1){%>
            <img src="/images/icons/<%= navList[i].item_pic%>.png">
            <%}else{%>
            <img src="/images/icons/<%= navList[i].item_pic%>-a.png">
            <%}%>
            <%if(i==2){%>
            <span class="mui-badge mui-badge-red" style="display: none"></span>
            <%}%>
            <p><%= navList[i].item_text%></p>
        </li>
        <%}%>
    </ul>
</div>
<script>
    var params = {
        manager_id: manager_id,
        role_type: role_type,
        user_id: user_id
    }
    var data = JSON.stringify(params)
    $.ajax({
        url: 'http://<%= reqHost %>:<%= reqPort %>/ZxApi/m3_16.ashx',
        type: "POST",
        dataType: 'json',
        data: data,
        error: function (request) {      // 设置表单提交出错
            mui.toast("系统错误，返回状态码为：" + request.status);
        },
        success: function (data) {
            if (data.ecode == 1000) {
                var work_num
                if(data.num>0){
                    $(".mui-badge").css("display","inline-block")
                    $(".todowork-num").css("display","inline-block")
                }
                if(data.num>99){
                    work_num="99+"
                }else {
                    work_num=data.num
                }
                $(".mui-badge").html(work_num)
                $(".todowork-num").html(work_num)
            }
        }
    })
    $(document).on('click','.nav-list .item',function () {
        var i = $(this).index()
        sessionStorage.setItem("newsList", "");
        sessionStorage.setItem("newsTop", 0);
        var url=$(this).attr("data-url")
        location.href=url

    })
</script>
