<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <p class="title"><%=tian.anyou%></p>
        <p class="desc">审查意见：立案<span>第<%=tian.tiannum%>号</span></p>
        <div class="proposal-content">
            <div class="row">
                <span class="left">案由</span>
                <span class="right"><%=tian.anyou%></span>
            </div>
            <div class="row">
                <span class="left">提案人姓名</span>
                <span class="right"><%=tian.tianername%></span>
            </div>
            <div class="row">
                <span class="left">单位</span>
                <span class="right"><%=tian.company%></span>
            </div>
            <div class="row">
                <span class="left">委员证件号</span>
                <span class="right"><%=tian.weinum%></span>
            </div>
            <div class="row">
                <span class="left">电话号码</span>
                <span class="right"><%=tian.mobile%></span>
            </div>
            <div class="row">
                <span class="left">问题</span>
                <span class="right"><%=tian.problem%></span>
            </div>
            <div class="row">
                <span class="left">分析</span>
                <span class="right"><%=tian.analyse%></span>
            </div>
            <div class="row">
                <span class="left">建议</span>
                <span class="right"><%=tian.advice%></span>
            </div>
        </div>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        color: #3b3b3b;
    }
    .wrap .title{
        font-size: 16px;
        color: #464444;
        font-weight: bold;
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #464444;
    }
    .wrap .desc{
        color: #585757;
        line-height: 24px;
        padding: 10px;
    }
    .wrap .desc span{
        float: right;
    }
    .proposal-content{
        padding: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: 14px;
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #adaaaa;
        border-bottom: 0;
    }
    .proposal-content .row:last-child{
        border-bottom: 1px solid #adaaaa;
    }
    .proposal-content .row .left{
        width: 110px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        border-left: 1px solid #adaaaa;
        padding: 5px;
        min-height: 30px;
    }
</style>

</html>
