<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <%if(type==1){%>
    <a class="header-right" href="/proposalSubmit2?id=<%=tian.tian_id%>">修改重提</a>
    <%}%>
    <div class="wrap">
        <p class="text-left">审查意见：立案</p>
        <p class="text-right">第<%=tian.tiannum%>号</p>
        <div class="proposal-content">
            <div class="row">
                <span class="left">案由</span>
                <span class="right"><%=tian.anyou%></span>
            </div>
            <div class="row">
                <span class="left">提案人姓名</span>
                <span class="right"><%=tian.tianername%></span>
            </div>
            <div class="row">
                <span class="left">单位</span>
                <span class="right"><%=tian.company%></span>
            </div>
            <div class="row">
                <span class="left">委员证件号</span>
                <span class="right"><%=tian.weinum%></span>
            </div>
            <div class="row">
                <span class="left">电话号码</span>
                <span class="right"><%=tian.mobile%></span>
            </div>
            <div class="row">
                <span class="left">问题</span>
                <span class="right"><%=tian.problem%></span>
            </div>
            <div class="row">
                <span class="left">分析</span>
                <span class="right"><%=tian.analyse%></span>
            </div>
            <div class="row">
                <span class="left">建议</span>
                <span class="right"><%=tian.advice%></span>
            </div>
        </div>
        <%if(type==2){%>
        <div class="publish-content">
            <div>发布到：</div>
            <div class="input-group">
                <div class="mui-input-row mui-checkbox mui-left">
                    <label>提案公示</label>
                    <input name="publish" value="0" type="checkbox" id="publish" >
                </div>
                <div class="mui-input-row mui-checkbox mui-left">
                    <label>提案表彰</label>
                    <input name="publish" value="0" type="checkbox" id="honor">
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="content" id="submit">
                再次提交
            </div>
        </div>
        <%}%>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: 14px;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .proposal-content{
        border-bottom: 1px solid #adaaaa;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: 14px;
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #adaaaa;
        border-bottom: 0;
    }
    .proposal-content .row .left{
        width: 110px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        border-left: 1px solid #adaaaa;
        padding: 5px;
        min-height: 30px;
    }
    .publish-content{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    .publish-content div{
        display: inline-block;
    }
    .bottom{
        position: fixed;
        height: 50px;
        width: 100%;
        bottom: 0;
        right: 0;
        background: #e1edfd;
        border: 1px solid #00a0e9;
    }
    .bottom .content{
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
</style>
<script>
    mui('.input-group').on('change', 'input', function() {
        var value = this.checked?"1":"0";
        this.value=value;
    });
    $(function() {
        var ispublish,isyouxiu;
        var tian_id="<%=tian.tian_id%>";
        $("#submit").click(function () {
            ispublish=$("#publish").val();
            isyouxiu=$("#honor").val();
            var params = {
                tian_id: tian_id,
                ispublish: ispublish,
                isyouxiu: isyouxiu
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://114.215.98.96:8011/ZxApi/m2_20.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    if(data.ecode==1000){
                        mui.toast('操作成功');
                    }
                }
            });
        })
    })
</script>
</html>
