<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="proposal-content">
            <div class="row">
                <span class="left">提案人姓名</span>
                <span class="right" id="name"><%=tian.tianername%></span>
            </div>
            <div class="row">
                <span class="left">电话号码</span>
                <span class="right" id="mobile"><%=tian.mobile%></span>
            </div>
        </div>
        <div class="submit-content">
            <div class="row">
                <p class="desc">委员证号码</p>
                <textarea placeholder="" rows="1" id="weinum"><%=tian.weinum%></textarea>
            </div>
            <div class="row">
                <p class="desc">单位</p>
                <textarea placeholder="" rows="1" id="company"><%=tian.company%></textarea>
            </div>
            <div class="row">
                <p class="desc">案由</p>
                <textarea placeholder="" rows="1" id="anyou"><%=tian.anyou%></textarea>
            </div>
            <div class="row">
                <p class="desc">问题</p>
                <textarea placeholder="" rows="2" id="problem"><%=tian.problem%></textarea>
            </div>
            <div class="row">
                <p class="desc">分析</p>
                <textarea placeholder="" rows="1" id="analyse"><%=tian.analyse%></textarea>
            </div>
            <div class="row">
                <p class="desc">建议</p>
                <textarea placeholder="" rows="2" id="advice"><%=tian.advice%></textarea>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="content" id="submit">
            <div class="left">保存</div>
            <div class="right">提交</div>
        </div>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 50px 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .proposal-content{
        border-bottom: 1px solid #adaaaa;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: 14px;
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #adaaaa;
        border-bottom: 0;
    }
    .proposal-content .row .left{
        width: 110px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        padding: 5px;
        border-left: 1px solid #adaaaa;
        min-height: 30px;
    }
    .submit-content{
        margin-top: 10px;
    }
    .submit-content .row .desc{
        color: #0071bd;
        letter-spacing: 2px;
    }
    .submit-content .row textarea{
        border: 1px solid #00a0e9;
        padding: 5px 10px;
        font-size: 14px;
    }
    .bottom{
        position: fixed;
        height: 50px;
        width: 100%;
        bottom: 0;
        right: 0;
        background: #e1edfd;
        border: 1px solid #00a0e9;
    }
    .bottom .content{
        display: flex;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    .bottom .content .left{
        width: 100px;
        border-right: 1px solid #00a0e9;
    }
    .bottom .content .right{
        flex: 1;
    }

</style>
<script>
$(function() {
    var tijiao_kind;
    var tian_id="<%=tian.tian_id%>";
    var user_id="<%=tian.user_id%>";
    var user_name="<%=tian.tianername%>";
    var mobile="<%=tian.mobile%>";
    var company,weinum,anyou,problem,analyse,advice;
    $("#submit div").each(function () {
        $(this).click(function () {
            company=$("#company").val();
            weinum=$("#weinum").val();
            anyou=$("#anyou").val();
            problem=$("#problem").val();
            analyse=$("#analyse").val();
            advice=$("#advice").val();
            if($(this).text()=='提交'){
                tijiao_kind=4;
            }else if($(this).text()=='保存'){
                tijiao_kind=3;
            }
            if(user_name == ''||mobile==''||company==''||weinum=='' ||
                anyou==''||problem==''||analyse==''||advice==''){
                mui.toast("请填写完整")
                return;
            }else {
                var params = {
                    tijiao_kind: tijiao_kind,
                    tian_id: tian_id,
                    user_id: user_id,
                    user_name: user_name,
                    company: company,
                    weinum: weinum,
                    mobile: mobile,
                    anyou: anyou,
                    problem: problem,
                    analyse: analyse,
                    advice: advice
                }
                var data = JSON.stringify(params)
                $.ajax({
                    url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_16.ashx',
                    type: "POST",
                    dataType: 'json',
                    data: data,
                    error: function (request) {      // 设置表单提交出错
                        mui.toast("系统错误，返回状态码为：" + request.status);
                    },
                    success: function (data) {
                        if(data.ecode==1000){
                            mui.toast("操作成功！");
                            setTimeout(function () {
                                history.go(-1)
                            },1000);
                        }else{
                            mui.toast("操作失败！");
                        }
                    }
                });
            }
        })
    })
})
</script>
</html>
