<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .proposal-content{
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: 14px;
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    .proposal-content .row .left{
        width: 110px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        border-left: 1px solid #ddd;
        padding: 5px;
        min-height: 30px;
        overflow: hidden;
        word-break: break-all;
    }
    .desc-content{
        padding: 5px 0;
    }
    .desc-content p{
        padding: 5px 0;
    }
    .desc-content p .desc{
        color: #0071bd;
        padding-right: 5px;
    }
    .wrap p.text-left span{
        float: right;
    }
    .repeat-content{
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
    }
    .repeat-content .row{
        display: flex;
        font-size: 14px;
        color: #585757;
        line-height: 30px;
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    .repeat-content .row > div{
        flex: 1;
        padding: 5px;
        overflow: hidden;
        word-break: break-all;
    }
    .repeat-content .row .right{
        border-left: 1px solid #ddd;
    }
    .repeat-content .row > div .desc{
        color: #0071bd;
    }
    .reject-content{
        margin-top: 20px;
    }
    .reject-content textarea{
        border: 1px solid #00a0e9;
        padding: 5px 10px;
        font-size: 14px;
    }
    .bottom{
        padding:0 0 10px 0;
        text-align: center;
    }
    .bottom .content > div{
        background: #e1edfd;
        border-radius: 3px;
        padding: 5px 30px;
        display: inline-block;
        color: #343232;
        font-size: 14px;
        border: 1px solid #0071bd;
    }
    .bottom .content .left{
        margin-right: 30px;
    }
</style>
<script type='text/javascript' src='/js/compareText.js'></script>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <%if(type==1){%>
        <p class="text-left" id="tian-id" data-tian-id="<%=tian.tian_id%>">审查意见：立案</p>
        <p class="text-right">第<%=tian.tiannum%>号</p>
        <div class="proposal-content">
            <div class="row">
                <span class="left">案由</span>
                <span class="right"><%=tian.anyou%></span>
            </div>
            <div class="row">
                <span class="left">提案人姓名</span>
                <span class="right"><%=tian.tianername%></span>
            </div>
            <div class="row">
                <span class="left">单位</span>
                <span class="right"><%=tian.company%></span>
            </div>
            <div class="row">
                <span class="left">委员证件号</span>
                <span class="right"><%=tian.weinum%></span>
            </div>
            <div class="row">
                <span class="left">电话号码</span>
                <span class="right"><%=tian.mobile%></span>
            </div>
            <div class="row">
                <span class="left">问题</span>
                <span class="right"><%=tian.problem%></span>
            </div>
            <div class="row">
                <span class="left">分析</span>
                <span class="right"><%=tian.analyse%></span>
            </div>
            <div class="row">
                <span class="left">建议</span>
                <span class="right"><%=tian.advice%></span>
            </div>
        </div>
        <%}%>
        <%if(type==2){%>
        <p class="text-left" id="tian-id" data-tian-id="<%=repeat.tian_id%>">审查意见：立案 <span>第<%=repeat.tiannum%>号</span></p>
        <div class="desc-content">
            <p><span class="desc">提案人姓名：</span><span class="content"><%=repeat.tianername%></span></p>
            <p><span class="desc">单位：</span><span class="content"><%=repeat.company%></span></p>
            <p><span class="desc">委员证件号：</span><span class="content"><%=repeat.weinum%></span></p>
            <p><span class="desc">电话号码：</span><span class="content"><%=repeat.mobile%></span></p>
        </div>
        <div class="repeat-content">
            <div class="row">
                <div class="left">
                    <p class="desc">案由</p>
                    <p class="content" id="anyou-confirm"><%=confirm.anyou%></p>
                </div>
                <div class="right">
                    <p class="desc">案由</p>
                    <p class="content" id="anyou-repeat"><%=repeat.anyou%></p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <p class="desc">问题</p>
                    <p class="content" id="problem-confirm"><%=confirm.problem%></p>
                </div>
                <div class="right">
                    <p class="desc">问题</p>
                    <p class="content" id="problem-repeat"><%=repeat.problem%></p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <p class="desc">分析</p>
                    <p class="content" id="analyse-confirm"><%=confirm.analyse%></p>
                </div>
                <div class="right">
                    <p class="desc">分析</p>
                    <p class="content" id="analyse-repeat"><%=repeat.analyse%></p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <p class="desc">建议</p>
                    <p class="content" id="advice-confirm"><%=confirm.advice%></p>
                </div>
                <div class="right">
                    <p class="desc">建议</p>
                    <p class="content" id="advice-repeat"><%=repeat.advice%></p>
                </div>
            </div>
        </div>
        <div class="reject-content">
            <textarea id="tuihui" rows="5" placeholder="请填写退回理由" maxlength="250"></textarea>
        </div>
        <div class="bottom">
            <div class="content" id="submit">
                <div class="left">不同意修改</div>
                <div class="right">同意修改</div>
            </div>
        </div>
        <%}%>
    </div>
</div>
</body>

<script>
    $(function() {
        var type="<%=type%>";
        if(type==2){
            compare_str($("#anyou-confirm").text(),$("#anyou-repeat").text(),$("#anyou-confirm")[0],$("#anyou-repeat")[0]);
            compare_str($("#problem-confirm").text(),$("#problem-repeat").text(),$("#problem-confirm")[0],$("#problem-repeat")[0]);
            compare_str($("#analyse-confirm").text(),$("#analyse-repeat").text(),$("#analyse-confirm")[0],$("#analyse-repeat")[0]);
            compare_str($("#advice-confirm").text(),$("#advice-repeat").text(),$("#advice-confirm")[0],$("#advice-repeat")[0]);
        }
        var audit_jieguo;
        var tian_id=$("#tian-id").attr("data-tian-id");
        var tuihui;
        $("#submit div").each(function () {
            $(this).click(function () {
                if($(this).text()=='不同意修改'){
                    tuihui=$.trim($("#tuihui").val());
                    if(tuihui == null||tuihui==""){
                        mui.toast("请填写退回理由")
                        return;
                    }
                    audit_jieguo=0;
                }else if($(this).text()=='同意修改'){
                    tuihui="";
                    audit_jieguo=1;
                }
                var params = {
                    audit_jieguo: audit_jieguo,
                    tian_id: tian_id,
                    tuihui: tuihui
                }
                var data = JSON.stringify(params)
                $.ajax({
                    url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_19.ashx',
                    type: "POST",
                    dataType: 'json',
                    data: data,
                    error: function (request) {      // 设置表单提交出错
                        mui.toast("系统错误，返回状态码为：" + request.status);
                    },
                    success: function (data) {
                        if(data.ecode==1000){
                            mui.toast("操作成功！");
                            setTimeout(function () {
                                history.go(-1)
                            },1000);
                        }else{
                            mui.toast("操作失败！");
                        }
                    }
                });
            })
        })
    })
</script>
</html>
