<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<script>

</script>
<style>
    .container{
        padding: 136px 0 0 0;
        opacity: 0;
        -webkit-animation-name: slideOut;
        animation-name: slideOut;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: var(--size14);
        display: none;
    }
    .proposals-search{
        padding:10px 15px;
        position: fixed;
        top: 42px;
        width: 100%;
        z-index: 100000;
    }
    .states-content{
        position: fixed;
        top:96px;
        width: 100%;
        height: 40px;
        z-index: 1000000;
    }
    .list-tab{
        display: flex;
        border:1px solid #0071bd;
        height: 40px;
        padding: 5px 0;
    }
    .list-tab .tab-item{
        flex: 1;
        height: 100%;
        float: left;
        line-height: 30px;
        text-align: center;
        color: #585757;
        font-size: var(--size14);
        border-right: 1px solid #0071bd;
        cursor: pointer;
    }
    .list-tab .tab-item:last-child{
        border-right: 0;
    }
    .list-tab .tab-item.active{
        color: #0071bd;
    }
    .mescroll{
        position: fixed;
        top: 136px;
        bottom: 0;
        height: auto;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <span class="header-right">审核提案</span>
    <div class="wrap">
        <div class="proposals-search">
            <%-include ../base/search-box.ejs%>
        </div>
        <div class="states-content">
            <div class="list-tab">
                <span class="tab-item" data-url="/proposalManage1">草稿</span>
                <span class="tab-item" data-url="/proposalManage2">申请审核</span>
                <span class="tab-item" style="display: none" data-url="/proposalManage3">修改重提</span>
                <span class="tab-item" data-url="/proposalManage4">恭喜立案</span>
                <span class="tab-item" data-url="/proposalManage5">退回</span>
            </div>
        </div>
        <div class="mescroll listWrap" id="mescroll">
            <div class="list-content list-normal" id="list-content">
                <%for(var i=0 ;i<tian_list.length;i++){%>
                <div class="item" id="<%=tian_list[i].tian_id%>" data-zhuangtai="<%=tian_list[i].zhuangtai%>">
                    <span class="circle"></span>
                    <p class="anyou"><%=tian_list[i].anyou%></p>
                    <p class="bottom">
                        <span class="left"><%=tian_list[i].zhuangtai%></span>
                        <span class="left"><%=tian_list[i].creattime.split(" ")[0]%></span>
                        <span class="right download" data-kind="<%=pageType%>" data-tian-id="<%=tian_list[i].tian_id%>">下载</span>
                    </p>
                </div>
                <%}%>
                <%if(tian_list.length<=0){%>
                <div class="empty">
                    <img src="/images/search-empty.png">
                    <p>暂无内容</p>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    window.onbeforeunload=function (){
        sessionStorage.setItem("transitionType","slideOut")
    }
    $(document).on('click','.download',function (e) {
        e.preventDefault()
        e.stopPropagation()
        var tian_kind=parseInt($(this).attr("data-kind"))+1
        var filename=$(this).parent().prev(".anyou").html()
        var params = {
            tian_kind:tian_kind,
            tian_id:$(this).attr("data-tian-id")
        }
        var data = JSON.stringify(params)
        $.ajax({
            url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_15.ashx',
            type: "POST",
            dataType: 'json',
            data: data,
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误");
            },
            success: function (data) {
                if (data.ecode == 1000) {
                    try {
                        window.native.setDownload(filename,data.download_url)
                    }catch (err){
                        mui.toast("下载失败")
                    }
                    mui.toast("正在下载")
                }
            }
        })
    })
    $(function () {
        var transitionType=sessionStorage.getItem("transitionType")
        if(transitionType=="slideIn"){
            $(".container").css("-webkit-animation-name","slideIn")
            $(".container").css("animation-name","slideIn")
            $(".container").css("opacity","1")
        }else if(transitionType=="slideOut"){
            $(".container").css("opacity","1")
        }
        if(role==1 || role==2){
            $(".header-right").css("display","block")
        }else{
            $(".header-right").css("display","none")
        }
        var user_id=sessionStorage.getItem("user_id")
        var pageType="<%=pageType%>"
        var down_kind=parseInt(pageType)+1
        $(".tab-item").eq(pageType).addClass("active")
        $(document).on('click','.tab-item',function () {
            var index=$(this).index()
            sessionStorage.setItem("managerList", "");
            sessionStorage.setItem("managerTop", 0);
            var url=$(this).attr("data-url");
            location.replace(url+"?id="+user_id+"&pageType="+index)
        })
        $(document).on('click','.item',function () {
            var id=$(this).attr("id")
            var zhuangtai=$(this).attr("data-zhuangtai")
            location.href='/proposalDetail'+down_kind+'?id='+id+'&type=1&zhuangtai='+zhuangtai
        })
        $(document).on('click','.header-right',function () {
            sessionStorage.setItem("checkList", "");
            sessionStorage.setItem("checkTop", 0);
            location.href="/proposalCheck1?pageType=0&id="+user_id
        })
        var loadContent=sessionStorage.getItem("managerList");
        var managerList=sessionStorage.getItem("managerList")
        $(".list-content").append(managerList)
        var managerTop = sessionStorage.getItem("managerTop");
        $(".listWrap").scrollTop(managerTop);
        $(".listWrap").scroll(function() {
            sessionStorage.setItem("managerTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                auto: false, //是否在初始化时以上拉加载的方式自动加载第一页数据; 默认false
                callback: upCallback //上拉回调,此处可简写; 相当于 callback: function (page) { upCallback(page); }
            }
        });

        /*下拉刷新的回调 */
        function downCallback(){
            sessionStorage.setItem("managerList", "");
            sessionStorage.setItem("managerTop", 0);
            window.location.reload()
        }
        function upCallback(){
            var kind;
            if(pageType==3){
                kind=3
            }else if(pageType==2){
                kind=4
            }else{
                kind=parseInt(pageType)+1
            }
            var params = {
                user_id: user_id,
                tian_list_kind: kind,
                startid: $(".item:last").attr("id"),
                num: 10,
                start: 0
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%= reqHost %>:<%= reqPort %>/ZxApi/m2_12.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    if (data.ecode == 1000) {
                        var list = data.tian_list
                        if (data.num > 0) {
                            mescroll.endSuccess(data.length);
                            $.each(list, function (i) {
                                var item = '<div class="item" id="' + list[i].tian_id + '" data-zhuangtai="'+list[i].zhuangtai+'">' +
                                    '<span class="circle"></span>' +
                                    '<p class="anyou">' + list[i].anyou + '</p>' +
                                    '<p class="bottom">' +
                                    '<span class="left">'+list[i].zhuangtai+'</span>' +
                                    '<span class="left">' + list[i].creattime.split(" ")[0] + '</span>' +
                                    '<span class="right download" data-kind="'+down_kind+'" data-tian-id="'+list[i].tian_id+'">下载</span>' +
                                    '</p>' +
                                    '</div>'
                                $(".list-content").append(item);
                                loadContent += item;
                            })
                            sessionStorage.setItem("managerList", loadContent);
                        } else {
                            mescroll.endUpScroll(true)
                        }
                    } else {
                        mui.toast("系统错误")
                        mescroll.endErr()
                    }
                }
            });
        }
    })
</script>
</html>
