<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .desc-content{
        padding: 5px 0;
    }
    .desc-content p{
        padding: 5px 0;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .desc-content p .desc{
        color: #0071bd;
        padding-right: 5px;
    }
    .wrap p.text-left span{
        float: right;
    }
    .proposal-content{
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: var(--size14);
        color: #585757;
        line-height: 30px;
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    .proposal-content .row > div{
        flex: 1;
        padding: 5px;
        overflow: hidden;
        word-break: break-all;
    }
    .proposal-content .row .right{
        border-left: 1px solid #ddd;
    }
    .proposal-content .row > div .desc{
        color: #0071bd;
    }
    .proposal-content .row > div .content{
        min-height: 24px;
    }
    .back-content{
        padding: 10px 0;
    }
    .back-content .desc{
        color: #0071bd;
    }
    .back-content .content {
        border: 1px solid #ddd;
        padding: 5px 10px;
        border-radius: 4px;
    }
</style>
<script type='text/javascript' src='/js/compareText.js'></script>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="desc-content">
            <p><span class="desc">提案人姓名：</span><span class="content"><%=repeat.tianername%></span></p>
            <p><span class="desc">单位：</span><span class="content"><%=repeat.company%></span></p>
            <p><span class="desc">委员证件号：</span><span class="content"><%=repeat.weinum%></span></p>
            <p><span class="desc">电话号码：</span><span class="content"><%=repeat.mobile%></span></p>
        </div>
        <div class="proposal-content">
            <div class="row">
                <div class="left">
                    <p class="desc">案由</p>
                    <p class="content" id="anyou-confirm"></p>
                </div>
                <div class="right">
                    <p class="desc">案由</p>
                    <p class="content" id="anyou-repeat"></p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <p class="desc">问题</p>
                    <p class="content" id="problem-confirm"></p>
                </div>
                <div class="right">
                    <p class="desc">问题</p>
                    <p class="content" id="problem-repeat"></p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <p class="desc">分析</p>
                    <p class="content" id="analyse-confirm"></p>
                </div>
                <div class="right">
                    <p class="desc">分析</p>
                    <p class="content" id="analyse-repeat"></p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <p class="desc">建议</p>
                    <p class="content" id="advice-confirm"></p>
                </div>
                <div class="right">
                    <p class="desc">建议</p>
                    <p class="content" id="advice-repeat"></p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <p class="desc">附议人</p>
                    <p class="content" id="resolutioner-confirm"></p>
                </div>
                <div class="right">
                    <p class="desc">附议人</p>
                    <p class="content" id="resolutioner-repeat"></p>
                </div>
            </div>
        </div>
        <div class="back-content">
            <p class="desc">退回理由：</p>
            <p class="content"><%=repeat.tuihui%></p>
        </div>
    </div>
</div>
</body>
<script>
    compare_str("<%=confirm.anyou%>","<%=repeat.anyou%>",$("#anyou-confirm")[0],$("#anyou-repeat")[0]);
    compare_str("<%=confirm.problem%>","<%=repeat.problem%>",$("#problem-confirm")[0],$("#problem-repeat")[0]);
    compare_str("<%=confirm.analyse%>","<%=repeat.analyse%>",$("#analyse-confirm")[0],$("#analyse-repeat")[0]);
    compare_str("<%=confirm.advice%>","<%=repeat.advice%>",$("#advice-confirm")[0],$("#advice-repeat")[0]);
    compare_str("<%=confirm.resolutioner%>","<%=repeat.resolutioner%>",$("#resolutioner-confirm")[0],$("#resolutioner-repeat")[0]);
</script>
</html>
