<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .mescroll{
        position: fixed;
        top: 42px;
        bottom: 0;
        height: auto;
    }
    .item{
        padding: 10px;
        border-bottom: 1px solid #bcbcbc;
        position: relative;
        display: block;
    }
    .item .circle{
        position: absolute;
        top:17px;
        left: 13px;
        background: #0071bd;
        width: 10px;
        height: 10px;
    }
    .item .anyou{
        line-height: 22px;
        color: #3b3b3b;
        text-indent: 20px;
        font-size: 13px;
    }
    .item .bottom{
        font-size: 12px;
        color: #0071bd;
        text-align: right;
        overflow-y: auto;
        padding-top: 3px;
    }
    .item .bottom .left{
        float: left;
        padding: 0 10px 0 0;
    }
    .item .bottom .right{
        float: right;
        padding: 0 5px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap mescroll" id="mescroll">
        <%for(var i=0 ;i<tian_list.length;i++){%>
        <a class="item" id="<%=tian_list[i].tian_id%>" href="/proposalDetail3?type=1&id=<%=tian_list[i].tian_id%>">
            <span class="circle"></span>
            <p class="anyou"><%=tian_list[i].anyou%></p>
            <p class="bottom">
                <span class="left"><%=tian_list[i].creattime.split(" ")[0]%></span>
                <span class="right download"  data-tian-id="<%=tian_list[i].tian_id%>">下载</span>
            </p>
        </a>
        <%}%>
    </div>
</div>
</body>
<script>
    $(document).on('click','.download',function (e) {
        e.preventDefault()
        var filename=$(this).parent().prev(".anyou").html()
        console.log(filename)
        var params = {
            tian_kind:4,
            tian_id:$(this).attr("data-tian-id")
        }
        var data = JSON.stringify(params)
        $.ajax({
            url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_15.ashx',
            type: "POST",
            dataType: 'json',
            data: data,
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误");
            },
            success: function (data) {
                if (data.ecode == 1000) {
                    try {
                        window.native.setDownload(filename,data.download_url)
                    }catch (err){
                        mui.toast("下载失败")
                    }
                    mui.toast("正在下载")
                }
            }
        });
    })
    $(function () {
        var _offset = sessionStorage.getItem("offsetTop");
        $(".wrap").scrollTop(_offset);
        $(".wrap").scroll(function() {
            sessionStorage.setItem("offsetTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                use: false
            }
        });

        /*下拉刷新的回调 */
        function downCallback(){
            window.location.reload()
        }
        function upCallback(){
            var params = {
                startid: $(".item:last").attr("id"),
                num: 10,
                start: 0
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m3_11.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    if(data.ecode==1000){
                        mescroll.endSuccess(data.length);
                        var list=data.article_list
                        if(list.length>0){
                            $.each(list, function (i) {
                                var item='<div class="item" onclick="dis('+list[i].article_id+')" id="'+list[i].article_id+'" >'+
                                    '<span class="circle"></span>'+
                                    '<p class="anyou">'+list[i].title+'</p>'+
                                    '<p class="time">'+list[i].add_time+'</p>'+
                                    '</div>'
                                $("#list-content").append(item);
                            })
                        }else{
                            mescroll.endSuccess(0)
                        }

                    }else{
                        mui.toast("系统错误")
                        mescroll.endErr()
                    }
                }
            });
        }
    })
</script>
</html>
