<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 96px 0 0 0;
    }
    .proposals-search{
        padding:10px 15px;
        position: fixed;
        top: 42px;
        width: 100%;
    }
    .item{
        padding: 10px;
        border-bottom: 1px solid #bcbcbc;
        position: relative;
        display: block;
    }
    .item .circle{
        position: absolute;
        top:15px;
        left: 13px;
        background: #0071bd;
        width: 10px;
        height: 10px;
    }
    .item .anyou{
        line-height: 22px;
        color: #3b3b3b;
        text-indent: 20px;
        font-size: 13px;
        min-height: 22px;
    }
    .item .bottom{
        font-size: 12px;
        color: #0071bd;
        text-align: right;
        overflow-y: auto;
        padding-top: 3px;
    }
    .item .bottom .left{
        float: left;
        padding: 0 10px 0 0;
    }
    .item .bottom .right{
        float: right;
        padding: 0 5px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="proposals-search">
            <%-include ../base/search-box-back.ejs%>
        </div>
        <div class="list-content" id="list-content">
            <%for(var i=0 ;i<tian_list.length;i++){%>
            <div class="item" id="<%=tian_list[i].tian_id%>" data-kind="<%=tian_list[i].tian_kind%>" data-zhuangtai="<%=tian_list[i].zhuangtai%>">
                <span class="circle"></span>
                <p class="anyou"><%=tian_list[i].anyou%></p>
                <p class="bottom">
                    <span class="left"><%=tian_list[i].zhuangtai%></span>
                    <span class="left"><%=tian_list[i].creattime.split(" ")[0]%></span>
                    <span class="right download" data-kind="<%=tian_list[i].tian_kind%>" data-tian-id="<%=tian_list[i].tian_id%>">下载</span>
                </p>
            </div>
            <%}%>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        var _offset = sessionStorage.getItem("proSearchTop");
        $(".wrap").scrollTop(_offset);  //进页面时跳到记录的位置
        $(".wrap").scroll(function() {
            sessionStorage.setItem("proSearchTop", $(this).scrollTop());
        });
    })
    $(document).on('click','.item',function () {
        var id=$(this).attr("id")
        var page_kind=$(this).attr("data-kind")
        var kind;
        if(page_kind==6){
            kind=5
        }else{
            kind=page_kind
        }
        var zhuangtai=$(this).attr("data-zhuangtai")
        location.href='/proposalDetail'+kind+'?id='+id+'&type=1&zhuangtai='+zhuangtai
    })
    $(document).on('click','.download',function (e) {
        e.preventDefault()
        e.stopPropagation()
        var filename=$(this).parent().prev(".anyou").html()
        var data_kind=$(this).attr("data-kind")
        var tian_kind;
        if(data_kind==6){
            tian_kind=5
        }else{
            tian_kind=data_kind
        }
        var params = {
            tian_kind:tian_kind,
            tian_id:$(this).attr("data-tian-id")
        }
        var data = JSON.stringify(params)
        $.ajax({
            url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_15.ashx',
            type: "POST",
            dataType: 'json',
            data: data,
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误");
            },
            success: function (data) {
                if (data.ecode == 1000) {
                    try {
                        window.native.setDownload(filename,data.download_url)
                    }catch (err){
                        mui.toast("下载失败")
                    }
                    mui.toast("正在下载")
                }
            }
        })
    })
</script>
</html>
