<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .desc-content{
        padding:10px;
    }
    .desc-content .title{
        font-size: 18px;
        color: #000;
    }
    .desc-content .time{
        color: #0071bd;
    }
    .proposal-content {
    }
    .proposal-content .row {
        display: flex;
        font-size: 14px;
        line-height: 40px;
        border-bottom: 1px solid #adaaaa;
    }
    .proposal-content .row .left {
        width: 75px;
        padding-left: 10px;
        color: #0071bd;
    }
    .proposal-content .row .right {
        flex: 1;
        padding-left: 15px;
    }
    .proposal-content .content-row{
        padding: 10px;
    }
    .proposal-content .content-row .desc{
        line-height: 24px;
        color: #0071bd;
    }
    .proposal-content .content-row .con{
        border: 1px solid #adaaaa;
        padding: 10px;
        font-size: 14px;
        border-radius: 4px;
    }
    .files-content {
        padding: 10px;
        border-bottom: 1px solid #adaaaa;
    }
    .files-content .title{
        color: #0071bd;
    }
    .file-list .item {
        display: flex;
        border: 1px solid #adaaaa;
        border-radius: 4px;
        margin: 10px 0;
        padding: 10px;
        align-items: center;
    }
    .file-list .item .left {
        width: 42px;
        margin-right: 10px;
    }
    .file-list .item .right{
        flex: 1;
        overflow: hidden;
    }
    .file-list .item .right .filename{
        color: #3b3b3b;
    }
    .file-list .item .download{
        font-size: 12px;
        border: 1px solid #adaaaa;
        border-radius: 3px;
        padding: 1px 4px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="desc-content">
            <p class="title"><%=work.worktitle%></p>
            <p class="time"><%=work.createdate%></p>
        </div>
        <div class="proposal-content">
            <div class="row">
                <span class="left">编号</span>
                <span class="right"><%=work.worknumber%></span>
            </div>
            <div class="row">
                <span class="left">发起人</span>
                <span class="right"><%=work.username%></span>
            </div>
            <div class="row">
                <span class="left">处理人</span>
                <span class="right" id="leaders"></span>
            </div>
            <div class="row">
                <span class="left">审核状态</span>
                <span class="right"><%=work.state%></span>
            </div>
            <%if(attach_list.length>0){%>
            <div class="files-content">
                <p class="title">附件</p>
                <div class="file-list" id="files">
                    <%for(var i=0;i<attach_list.length;i++){%>
                    <div class='item'>
                        <img class='left' src='images/file.png' />
                        <div class='right filepath' id="<%=attach_list[i].fileid%>" data-url="<%=attach_list[i].filepath%>">
                            <p class='filename mui-ellipsis'><%=attach_list[i].filename%></p>
                            <p class='filesize' data-bytes="<%=attach_list[i].filesize%>"><%=(attach_list[i].filesize/1000/1000).toFixed(2)%>M</p>
                        </div>
                        <span class="download" data-name="<%=attach_list[i].filename%>" data-url="<%=attach_list[i].filepath%>">保存</span>
                    </div>
                    <%}%>
                </div>
            </div>
            <%}%>
            <div class="content-row">
                <p class="desc">内容</p>
                <div class="con"><%=work.workcontent%></div>
            </div>
            <%
            for(var j=0;j<user_list.length;j++){
                if(user_list[j].suggestion!=""){
            %>
            <div class="content-row">
                <p class="desc">处理人<%=user_list[j].tousername%></p>
                <div class="con"><%=user_list[j].suggestion%></div>
            </div>
            <%}}%>
        </div>
    </div>
</div>
</body>
<script>
$(function() {
    var leaderStr='';
    var str="<%=leaders%>";
    str=str.replace(/&#34;/g, '"');
    var leaders=JSON.parse(str);
    for(var i=0;i<leaders.length;i++){
        leaderStr+=leaders[i].tousername+" , "
    }
    $("#leaders").html(leaderStr.slice(0,-2));

    $(document).on('click','.download',function (e) {
        e.preventDefault()
        e.stopPropagation()
        var download_url=$(this).attr("data-url")
        var filename=$(this).attr("data-name")
        try {
            window.native.setDownload(filename,download_url)
        }catch (err){
            mui.toast("下载失败")
        }
        mui.toast("正在下载")
    })
})
</script>
</html>
