<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 82px 0 0 0;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: 14px;
    }
    .states-content{
        position: fixed;
        top:42px;
        width: 100%;
        height: 40px;
        z-index: 100000;
    }
    .list-tab{
        display: flex;
        border:1px solid #0071bd;
        height: 40px;
        padding: 5px 0;
    }
    .list-tab .tab-item{
        flex: 1;
        height: 100%;
        float: left;
        line-height: 30px;
        text-align: center;
        color: #585757;
        font-size: 14px;
        border-right: 1px solid #0071bd;
        cursor: pointer;
    }
    .list-tab .tab-item:last-child{
        border-right: 0;
    }
    .list-tab .tab-item.active{
        color: #0071bd;
    }
    .item{
        padding: 10px;
        border-bottom: 1px solid #bcbcbc;
        position: relative;
        display: block;
    }
    .item .circle{
        position: absolute;
        top:17px;
        left: 13px;
        background: #0071bd;
        width: 10px;
        height: 10px;
    }
    .item .anyou{
        line-height: 22px;
        color: #3b3b3b;
        text-indent: 20px;
        font-size: 13px;
        min-height: 22px;
    }
    .item .bottom{
        font-size: 12px;
        color: #0071bd;
        text-align: right;
        overflow-y: auto;
        padding-top: 3px;
    }
    .item .bottom .left{
        float: left;
        padding: 0 10px 0 0;
    }
    .item .bottom .right{
        float: right;
        padding:0 5px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <a class="header-right" href="/addWork">添加</a>
    <div class="wrap">
        <div class="states-content">
            <div class="list-tab">
                <a class="tab-item active" href="/startWorkDraft" id="item1">草稿</a>
                <a class="tab-item" href="/startWorkPass" id="item2">提交文件</a>
            </div>
        </div>
        <div class="list-content" id="list-content">
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        var dailywork_list_kind=1;
        var user_id=sessionStorage.getItem("user_id")
        var user=JSON.parse(sessionStorage.getItem('user'))
        var manager_id=user.manager_id
        var role_type=user.role_type
        var params = {
            dailywork_list_kind:dailywork_list_kind,
            user_id:user_id,
            manager_id:manager_id,
            role_type:role_type,
            num:20,
            start:0,
            stratid:-1
        }
        var data = JSON.stringify(params)
        $.ajax({
            url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m3_05.ashx',
            type: "POST",
            dataType: 'json',
            data: data,
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误，返回状态码为：" + request.status);
            },
            success: function (data) {
                if(data.ecode==1000){
                    $("#list-content").html("");
                    var list=data.dailywork_list
                    $.each(list, function (i) {
                        var item='<a class="item" href="/workDetail2?id='+list[i].dailywork_id+'">' +
                            '<span class="circle"></span>' +
                            '<p class="anyou">'+list[i].worktitle+'</p>' +
                            '<p class="bottom">' +
                            '<span class="left">'+list[i].worknumber+'</span>' +
                            '<span class="left">'+list[i].username+'</span>' +
                            '<span class="left">'+ list[i].createdate.split(" ")[0] +'</span>' +
                            '<span class="right delete" id="'+list[i].dailywork_id+'">删除</span>' +
                            '<span class="right edit" data-id="'+list[i].dailywork_id+'">编辑</span>' +
                            '</p>' +
                            '</a>'
                        $("#list-content").append(item);
                    })
                }
            }
        })
        $(document).on('click','.edit',function (e) {
            e.preventDefault()
            location.href='/workDetail1?id='+$(this).attr("data-id")
        })

        $(document).on('click','.delete',function(e){
            e.preventDefault()
            var id=this.id;
            mui.confirm('确认删除？', function(e) {
                if (e.index == 1) {
                    var params = {
                        dailywork_id: id
                    }
                    params = JSON.stringify(params);
                    $.ajax({
                        url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m3_13.ashx',
                        type: "POST",
                        dataType: 'json',
                        data: params,
                        success: function (data) {
                            if(data.ecode==1000){
                                mui.toast("删除成功");
                                setTimeout(function () {
                                    location.reload();
                                },1000)
                            }else{
                                mui.toast("删除失败！");
                            }
                        }
                    });
                } else {
                    return;
                }
            })
        });
    })
</script>
</html>
