<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 82px 0 0 0;
    }
    .header-right{
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top:0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: 14px;
    }
    .states-content{
        position: fixed;
        top:42px;
        width: 100%;
        height: 40px;
        z-index: 100000;
    }
    .list-tab{
        display: flex;
        border:1px solid #0071bd;
        height: 40px;
        padding: 5px 0;
    }
    .list-tab .tab-item{
        flex: 1;
        height: 100%;
        float: left;
        line-height: 30px;
        text-align: center;
        color: #585757;
        font-size: 14px;
        border-right: 1px solid #0071bd;
        cursor: pointer;
    }
    .list-tab .tab-item:last-child{
        border-right: 0;
    }
    .list-tab .tab-item.active{
        color: #0071bd;
    }
    .mescroll{
        position: fixed;
        top: 82px;
        bottom: 0;
        height: auto;
    }
    .item{
        padding: 10px;
        border-bottom: 1px solid #bcbcbc;
        position: relative;
        display: block;
    }
    .item .circle{
        position: absolute;
        top:15px;
        left: 13px;
        background: #0071bd;
        width: 10px;
        height: 10px;
    }
    .item .anyou{
        line-height: 22px;
        color: #3b3b3b;
        text-indent: 20px;
        font-size: 13px;
        min-height: 22px;
    }
    .item .bottom{
        font-size: 12px;
        color: #0071bd;
        text-align: right;
        overflow-y: auto;
        padding-top: 3px;
    }
    .item .bottom .left{
        float: left;
        padding: 0 10px 0 0;
    }
    .item .bottom .right{
        float: right;
        padding: 0 5px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <a class="header-right" href="/addWork">添加</a>
    <div class="wrap">
        <div class="states-content">
            <div class="list-tab">
                <div class="tab-item active" data-url="/startWorkDraft">草稿</div>
                <div class="tab-item" data-url="/startWorkPass">提交文件</div>
            </div>
        </div>
        <div class="mescroll" id="mescroll">
            <div class="list-content" id="list-content">
                <%for(var i=0 ;i<dailywork_list.length;i++){%>
                <div class="item" id="<%=dailywork_list[i].dailywork_id%>">
                    <span class="circle"></span>
                    <p class="anyou"><%=dailywork_list[i].worktitle%></p>
                    <p class="bottom">
                        <span class="left"><%= dailywork_list[i].worknumber%></span>
                        <span class="left"><%= dailywork_list[i].username%></span>
                        <span class="left"><%= dailywork_list[i].createdate%></span>
                        <span class="right delete" id="<%=dailywork_list[i].dailywork_id%>">删除</span>
                    </p>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        var user_id=sessionStorage.getItem("user_id")
        var user=JSON.parse(sessionStorage.getItem('user'))
        var manager_id=user.manager_id
        var role_type=user.role_type
        var loadContent=sessionStorage.getItem("draftList");
        var draftList=sessionStorage.getItem("draftList")
        $(".list-content").append(draftList)
        var draftTop = sessionStorage.getItem("draftTop");
        $(".wrap").scrollTop(draftTop);
        $(".wrap").scroll(function() {
            sessionStorage.setItem("draftTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                auto: false, //是否在初始化时以上拉加载的方式自动加载第一页数据; 默认false
                callback: upCallback //上拉回调,此处可简写; 相当于 callback: function (page) { upCallback(page); }
            }
        });

        /*下拉刷新的回调 */
        function downCallback(){
            sessionStorage.setItem("draftList", "");
            sessionStorage.setItem("draftTop", 0);
            window.location.reload()
        }
        function upCallback(){
            var params = {
                dailywork_list_kind: 1,
                manager_id: manager_id,
                role_type: role_type,
                user_id:user_id,
                startid: $(".item:last").attr("id"),
                num: 10,
                start: 0
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%= reqHost %>:<%= reqPort %>/ZxApi/m3_05.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    if (data.ecode == 1000) {
                        var list = data.article_list
                        if (data.num > 0) {
                            mescroll.endSuccess(data.length);
                            $.each(list, function (i) {
                                var item = '<div class="item" id="' + list[i].dailywork_id + '">' +
                                    '<span class="circle"></span>' +
                                    '<p class="anyou">' + list[i].worktitle + '</p>' +
                                    '<p class="bottom">' +
                                    '<span class="left">' + list[i].worknumber + '</span>' +
                                    '<span class="left">' + list[i].username + '</span>' +
                                    '<span class="left">' + list[i].createdate + '</span>' +
                                    '<span class="right delete" id="'+list[i].dailywork_id+'">删除</span>'+
                                    '</p>' +
                                    '</div>'
                                $(".list-content").append(item);
                                loadContent += item;
                            })
                            sessionStorage.setItem("draftList", loadContent);
                        } else {
                            mescroll.endUpScroll(true)
                        }
                    } else {
                        mui.toast("系统错误")
                        mescroll.endErr()
                    }
                }
            });
        }
        $(document).on('click','.tab-item',function () {
            sessionStorage.setItem("draftList", "");
            sessionStorage.setItem("draftTop", 0);
            sessionStorage.setItem("passList", "");
            sessionStorage.setItem("passTop", 0);
            var url=$(this).attr("data-url");
            location.replace(url+"?id="+user_id+"&manager_id="+manager_id+"&role_type="+role_type)
        })
        $(document).on('click','.delete',function(e){
            e.preventDefault()
            e.stopPropagation()
            var id=this.id;
            mui.confirm('确认删除？', function(e) {
                if (e.index == 1) {
                    var params = {
                        dailywork_id: id
                    }
                    params = JSON.stringify(params);
                    $.ajax({
                        url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m3_13.ashx',
                        type: "POST",
                        dataType: 'json',
                        data: params,
                        success: function (data) {
                            if(data.ecode==1000){
                                mui.toast("删除成功");
                                setTimeout(function () {
                                    location.reload();
                                },1000)
                            }else{
                                mui.toast("删除失败！");
                            }
                        }
                    });
                } else {
                    return;
                }
            })
        });
        $(document).on('click','.item',function () {
            var id=$(this).attr("id")
            location.href='/workDetail1?id='+id
        });
    })
</script>
</html>
