<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .mescroll{
        position: fixed;
        top: 42px;
        bottom: 0;
        height: auto;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap mescroll" id="mescroll">
        <div class="list-content list-normal">
            <%for(var i=0 ;i<article_list.length;i++){%>
            <div class="item" id="<%=article_list[i].article_id%>">
                <span class="circle"></span>
                <p class="anyou"><%=article_list[i].title%></p>
                <p class="bottom">
                    <span class="left"><%=article_list[i].add_time.split(" ")[0]%></span>
                </p>
            </div>
            <%}%>
            <%if(article_list.length<=0){%>
            <div class="empty">
                <img src="/images/search-empty.png">
                <p>暂无内容</p>
            </div>
            <%}%>
        </div>
    </div>
</div>
</body>
<script>
    $(document).on('click','.item',function () {
        var id=$(this).attr("id")
        location.href='/orderDetail?id='+id
    })
    $(function () {
        var orderTop = sessionStorage.getItem("orderTop");
        $(".wrap").scrollTop(orderTop);
        $(".wrap").scroll(function () {
            sessionStorage.setItem("orderTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                use: false
            }
        });

        /*下拉刷新的回调 */
        function downCallback() {
            sessionStorage.setItem("orderList", "");
            sessionStorage.setItem("orderTop", 0);
            window.location.reload()
        }

    })
</script>
</html>
