<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <%for(var i=0 ;i<article_list.length;i++){%>
        <a class="item" href="/studyDetail?id=<%=article_list[i].article_id%>">
            <span class="circle"></span>
            <p class="anyou"><%=article_list[i].title%></p>
            <p class="time"><%=article_list[i].add_time.split(' ')[0]%></p>
        </a>
        <%}%>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .item{
        padding: 10px;
        border-bottom: 1px solid #bcbcbc;
        position: relative;
        display: block;
    }
    .item .circle{
        position: absolute;
        top:17px;
        left: 13px;
        background: #0071bd;
        width: 10px;
        height: 10px;
    }
    .item .anyou{
        line-height: 22px;
        color: #3b3b3b;
        text-indent: 20px;
        font-size: 13px;
    }
    .item .time{
        font-size: 12px;
        color: #0071bd;
    }

</style>
</html>
