<!DOCTYPE html>
<html>
<%- include ../base/checkHead.ejs %>
<style>
    .container {
        padding: 42px 0 0 0;
    }
    .request-content {
        padding: 15px;
    }
    .request-content .row .title {
        color: #585757;
        font-size: var(--size15);
        padding: 10px;
    }
    .request-content .row textarea {
        width: 100%;
        border: 1px solid #ddd;
        font-size: var(--size14);
    }
    .confirm {
        text-align: center;
        padding: 0 0 10px 0;
    }
    .mui-btn-primary {
        padding: 7px 15px;
        width: 100%;
        letter-spacing: 2px;
    }
    .msg-content {
        background: #e1edfd;
        padding: 10px;
    }
    .msg-content .title {
        color: #fa1414;
        text-align: center;
        margin-bottom: 10px !important;
    }
    .msg-content .item{
        margin-bottom: 5px;
    }
    .msg-content .item p{
        color: #3b3b3b;
        font-size: var(--size12);
    }
    .msg-content .item .req .left {
        color: #fa1414;
    }
    .msg-content .item .res .left {
        color: #0071bd;
    }
</style>
<body>
<div class="container">
    <%- include ../base/header.ejs %>
    <div class="wrap">
        <div class="request-content">
            <div class="row">
                <p class="title">咨询标题</p>
                <textarea id="title" placeholder="咨询标题" rows="1"></textarea>
            </div>
            <div class="row">
                <p class="title">咨询内容</p>
                <textarea id="content" placeholder="咨询内容..." rows="3"></textarea>
            </div>
            <div class="confirm">
                <button type="button" class="mui-btn mui-btn-primary" data-loading-icon="">提交</button>
            </div>
        </div>
        <%if(result.length>0){%>
        <div class="msg-content">
            <p class="title">【留言内容选登】</p>
            <% for(var i = 0;i < result.length;i++){ %>
            <div class="item">
                <p class="req">
                    <span class="left">问：</span>
                    <span><%=result[i].messagecontent%>（<%=result[i].createtime%>）</span>
                </p>
                <p class="res">
                    <span class="left">答：</span>
                    <span><%=result[i].messageanswer%>（<%=result[i].createtime%>）</span>
                </p>
            </div>
            <% } %>
        </div>
        <%}%>
    </div>
</div>
</body>
<script>
    var user_id=sessionStorage.getItem("user_id")
    $('.confirm button').click(function () {
        var _self=this
        mui(this).button('loading');
        var title = $.trim($('#title').val());
        var content = $.trim($('#content').val());
        if(title==""||title==null){
            mui.toast('请填写标题');
            mui(this).button('reset');
            return;
        }else if(content=="" || content==null){
            mui.toast('请填写内容');
            mui(this).button('reset');
            return;
        }
        var params = {
            user_id: user_id,
            messagetitle: title,
            messagecontent: content
        }
        var data = JSON.stringify(params)
        $.ajax({
            url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m4_02.ashx',
            type: "POST",
            dataType: 'json',
            data: data,
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误，返回状态码为：" + request.status);
                mui(_self).button('reset');
            },
            success: function (data) {
                if(data.ecode==1000){
                    mui.toast('提交成功');
                    mui(_self).button('reset');
                    $(_self).attr("disabled",true);
                    setTimeout(function () {
                        history.go(-1)
                    },1000)
                }else{
                    mui.toast('提交失败');
                    mui(_self).button('reset');
                }
            }
        });
    });
</script>
</html>
