<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding:42px 0 0 0;
    }
    .new-datail .title{
        font-size: 18px;
        line-height: 26px;
        padding: 10px;
        color: #000;
    }
    .new-datail .time{
        color: #fa1414;
        padding: 0 15px 10px;
    }
    .new-datail .content{
        padding: 10px;
        word-break: break-word;
        width: 100%;
        overflow-x: hidden;
    }
    .new-datail .content p{
        color: #3b3b3b;
        font-size: 15px;
        letter-spacing: 1px;
        word-break: break-word;
    }
    .new-datail .content table,.content img{
        width: 100%!important;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="new-datail">
            <p class="title"><%= result.title%></p>
            <p class="time"><%= result.add_time.split(' ')[0]%></p>
            <div class="content">
                <%- result.content%>
            </div>
        </div>
    </div>
</div>
</body>


</html>
