<!DOCTYPE html>
<html>
<%- include ../base/checkHead.ejs %>
<style>
    .container{
        -webkit-animation-name: slideOut;
        animation-name: slideOut;
    }
    .mescroll{
        position: fixed;
        top: 48px;
        bottom: 54px;
        height: auto;
    }
    .slide-content {
        position: relative;
    }
    .mui-slider-indicator {
        bottom: 0;
        line-height: 18px;
    }
    .mui-slider-indicator .mui-indicator{
        background: #fff;
    }
    .mui-slider-indicator .mui-active.mui-indicator {
        background: #006fb8;
    }
    .mui-slider .mui-slider-group .mui-slider-item img {
        height: 200px;
    }
    .slide-content .mui-slider-item {
        position: relative;
    }
    .slide-content .mui-slider-item .slide-layer {
        position: absolute;
        bottom: 15px;
        z-index: 100;
        background: rgba(255, 255, 255, 0.45);
        width: 100%;
        height: 30px;
    }
    .slide-content .mui-slider-item .slide-layer p {
        font-size: var(--size15);
        color: #585757;
        padding: 0 10px;
        text-align: center;
        line-height: 28px;
    }
    .list-content {
        padding: 0;
    }
    .list-content .item {
        position: relative;
        width: 100%;
        display: block;
        padding: 15px 10px 10px 120px;
        border-bottom: 1px solid #ddd;
    }
    .list-content .item .image {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 110px;
        height: 80px;
    }
    .list-content .item .info {
        padding-left: 10px;
    }
    .list-content .item .info .title {
        font-size: var(--size15);
        color: #323232;
        line-height: 24px;
    }
    .list-content .item .info .desc {
        color: #808080;
        line-height: 18px;
        height: 36px;
        font-size: var(--size12);
    }
    .list-content .item .info .time {
        color: #fa1414;
        font-size: var(--size12);
        line-height: 24px;
    }
</style>
<body>
<div class="container">
    <%- include ../base/header-search.ejs %>
    <%- include ../base/footer-nav.ejs %>
    <div class="wrap mescroll" id="mescroll">
        <div class="slide-content">
            <div id="slider" class="mui-slider">
                <div class="mui-slider-group mui-slider-loop">
                    <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="/newsDetail?id=<%= sliderList[sliderList.length - 1].article_id %>">
                            <img src="<%= sliderList[sliderList.length - 1].img_url %>" onerror="this.src='images/default-slide.png'">
                            <div class="slide-layer">
                                <p class="mui-ellipsis"><%= sliderList[sliderList.length - 1].title %></p>
                            </div>
                        </a>
                    </div>
                    <% for(var i = 0;i < sliderList.length;i++){ %>
                    <!-- 第一张 -->
                    <div class="mui-slider-item">
                        <a href="/newsDetail?id=<%= sliderList[i].article_id %>">
                            <img src="<%= sliderList[i].img_url %>" onerror="this.src='images/default-slide.png'">
                            <div class="slide-layer">
                                <p class="mui-ellipsis"><%= sliderList[i].title %></p>
                            </div>
                        </a>
                    </div>
                    <% } %>
                    <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="/newsDetail?id=<%= sliderList[0].article_id %>">
                            <img src="<%= sliderList[0].img_url %>" onerror="this.src='images/default-slide.png'">
                            <div class="slide-layer">
                                <p class="mui-ellipsis"><%= sliderList[0].title %></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mui-slider-indicator">
                    <% for(var i = 0;i < sliderList.length;i++){
                    if(i == 0){ %>
                    <div class="mui-indicator mui-active"></div>
                    <% }else { %>
                    <div class="mui-indicator"></div>
                    <% }} %>
                </div>
            </div>
        </div>
        <ul class="list-content">
            <% for(var i = 0;i < article_list.length;i++){ %>
            <li class="item" id="<%= article_list[i].article_id %>">
                <img class="image" onerror="this.src='images/default1.png'"  src="<%= article_list[i].img_url %>">
                <div class="info">
                    <p class="title mui-ellipsis"><%= article_list[i].title %></p>
                    <p class="desc mui-ellipsis-2"><%= article_list[i].zhaiyao %></p>
                    <p class="time"><%= article_list[i].add_time.split(' ')[0] %></p>
                </div>
            </li>
            <%}%>
        </ul>
        <%if(article_list.length<=0){%>
        <div class="empty">
            <img src="/images/search-empty.png">
            <p>暂无内容</p>
        </div>
        <%}%>
    </div>
</div>
</body>
<script>
    var slider = mui("#slider");
    slider.slider({
        interval: 3000
    });
    $(document).on('click','.list-content .item',function () {
        var id=$(this).attr("id")
        location.href='/newsDetail?id='+id
    })
    $(function () {
        var loadContent=sessionStorage.getItem("newsList");
        var newsList=sessionStorage.getItem("newsList")
        $(".list-content").append(newsList)
        var _offset = sessionStorage.getItem("newsTop");
        $(".wrap").scrollTop(_offset);
        $(".wrap").scroll(function() {
            sessionStorage.setItem("newsTop", $(this).scrollTop());
        });
        //创建MeScroll对象
        var mescroll = new MeScroll("mescroll", {
            down: {
                auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                callback: downCallback //下拉刷新的回调
            },
            up: {
                auto: false, //是否在初始化时以上拉加载的方式自动加载第一页数据; 默认false
                callback: upCallback //上拉回调,此处可简写; 相当于 callback: function (page) { upCallback(page); }
            }
        });

        /*下拉刷新的回调 */
        function downCallback(){
            sessionStorage.setItem("newsList", "");
            sessionStorage.setItem("newsTop", 0);
            window.location.reload()
        }

        /*上拉加载的回调 page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
        function upCallback(){
            var params = {
                startid: $(".list-content .item:last").attr("id"),
                num: 10,
                start: 0
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m1_02.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    if(data.ecode==1000){
                        mescroll.endSuccess(data.length);
                        var list=data.article_list
                        if(list.length>0){
                            $.each(list, function (i) {
                                var item='<li class="item" id='+list[i].article_id+'>'+
                                    '<img class="image" onerror="this.src=\'images/default1.png\'" src="'+list[i].img_url+'">'+
                                    '<div class="info">'+
                                    '<p class="title mui-ellipsis">'+list[i].title +'</p>'+
                                    '<p class="desc mui-ellipsis-2">'+list[i].zhaiyao +'</p>'+
                                    '<p class="time">'+list[i].add_time.split(' ')[0] +'</p>'+
                                    '</div>'+
                                    '</li>'
                                $(".list-content").append(item);
                                loadContent+=item;
                            })
                            sessionStorage.setItem("newsList", loadContent);
                        }else{
                            mescroll.endUpScroll(true)
                        }

                    }else{
                        mui.toast("系统错误")
                    }
                }
            });
        }
    })
</script>
</html>
